<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        button {
          color: RoyalBlue;
          font-size: 16px;
          text-align: center;
          padding: 15px 32px;

 
        } 
        
        
        </style>
    <title>home</title>
</head>
<body style="background-color:MintCream;">
    <div  >
        <div >
            <div class="btn-group-vertical"> 
                   
                    <button type="button" onclick='window.location.assign("./addPatient")'>add patient</button>
                    <!---<button type="button" id = "cdbButton"  >Second Button</button>--->
                    <button type="button" onclick='window.location.assign("./search")'>show patient</button>
             </div> 
         </div>
      </div>
</body>
</html>