<!DOCTYPE html>
<html>
  <style>
    form{
    text-align: center;
    }
    </style>
<head>
  <meta charset="UTF-8">
  <title>Search id</title>

</head>
<body style="background-color:MintCream;">
  
 <form class="container"   action="/search " method="POST" >
  <div class="row">    

     <input type="text" class="form-control" name="id" id="search" placeholder="Search">
      <button type="submit" class="glyphicon glyphicon-search" pattern="[0-9]{9}" title="Enter nine digits" onclick='window.location.assign("./viewSearch")'>find</button>
        
       </button>

    </div>
   

</form>
</body>
</html>

