<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of the patient:</title>
</head>
<body style="background-color:MintCream;">
  <h1 >Details of the patient:</h1> 
    <p> The details are displayed in the console</p>
    <br><br>
    <a href="/" class="link_404">Go to Home</a>
  </div>
</body>
</html>